{% extends 'base.html' %}
{% block container %}

<div class="container py-5 ">
    <h1 class="text-center">ABC Akademia International School</h1>
    <h4 class="text-center">Application Form</h1>
    {% if request.method == "POST" and l == True %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Your form details submitted successfull</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    {% if request.method == "POST" and l == False %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Your form details not submitted </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form action="/joinourteam/" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="EnterFirstName" class="form-label">First Name</label>
            <input type="text" name="fname" class="form-control" id="EnterFirstName" required>
        </div>
        <div class="mb-3">
            <label for="EnterSecondName" class="form-label">Last Name</label>
            <input type="text" name="lname" class="form-control" id="EnterSecondName" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                required>
            <div id="emailHelp" class="form-text">We'll ever share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="EnterPhoneNumber" class="form-label">Phone</label>
            <input type="number" name="phone" class="form-control" id="EnterPhoneNumber" required>
        </div>
        <div class="form-floating mb-3">
            <textarea class="form-control" name="Position" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
            <label for="floatingTextarea2">Applying for Position</label>
        </div>
        <div class="g-recaptcha mb-3" data-sitekey="6LdbcDQjAAAAADfi0YQtItfmI5N8EEqjDCwcBSP1"></div>
        <input type="submit" class="btn btn-danger" value="Submit">
    </form>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</div>


{% endblock %}